body {
    font-family: Times;
    background: grey;
  }

  .wrapper {
    display: block;
    margin: 40px auto;
    text-align: center;
   }

  h1 {
    text-align: center;
    color: black;
  }

  form {
    margin: 40px auto;
    background: white;
    width: 25%;
    padding: 20px;
  }

  input {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 20px;
    color: black;
    -webkit-appearance: none;
    font-size: 15px;

  }

  img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 20%;
        }

  input[name="username"]::-webkit-input-placeholder {
    color: grey;
  }

  input[name="username"]::-moz-placeholder {
    color: grey;
  }

  input[name="username"]:-ms-input-placeholder {
    color: grey;
  }

  input[name="username"]:-moz-placeholder {
    color: grey;
  }

  input[name="mail"]::-webkit-input-placeholder {
    color: grey;
  }

  input[name="mail"]::-moz-placeholder {
    color: grey;
  }

  input[name="mail"]:-ms-input-placeholder {
    color: grey;
  }

  input[name="mail"]:-moz-placeholder {
    color: grey;
  }

  input[name="password"]::-webkit-input-placeholder {
    color: grey;
  }

  input[name="password"]::-moz-placeholder {
    color: grey;
  }

  input[name="password"]:-ms-input-placeholder {
    color: grey;
  }

  input[name="password"]:-moz-placeholder {
    color: grey;
  }

  input:invalid {
    color: black;
  }

  .center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  button,
  #btn {
    margin: 20px auto;
    color: white;
    background: black;
    letter-spacing: 10px;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: black;
  }

  .site-footer p {
    text-align: center;
    font-size: 25px;
    color: white; }
